<div class="container">
  <div class="qtwo">
    <h2>When and where might you wear the fragrance you’re looking for today?</h2>
    <mat-radio-group [(ngModel)]="res_one">
      <mat-radio-button *ngFor="let one of ones let i = index" [value]="i">
        {{one}}
      </mat-radio-button>
    </mat-radio-group>
    <div>
      {{res_one}}
    </div>
  </div>
  <div class="qthree">
    <h2>Which of the following scent types appeals most to you?</h2>
    <mat-radio-group [(ngModel)]="res_two">
      <mat-radio-button *ngFor="let two of twos; let i = index" [value]="i">
        {{two}}
      </mat-radio-button>
    </mat-radio-group>
    <div>
      {{res_two}}
    </div>
  </div>
  <button mat-button (click)="submit()">Submit</button>
</div>
