img {
  width: 12rem;
  height: 8rem;
}

/* slides */
.slides {
  display: none;
}

.fade {
  display: flex;
  justify-content: center;
}

.survey_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

/* button */

.option-btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-item: center;
}

.mat-button {
  background-color: orange;
  display: flex;
  flex-direction: column;
  width: 12rem;
  padding: 0px 0px;
  max-width: inherit;
  white-space: pre-wrap;

  margin:0 0.25rem;
  line-height: 0;
}

.desc {
  line-height: 1rem;
}


/* dots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* animations */

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
