<div id="name_container">
  <img id="logo" src="../assets/img_survey_host/root/logo.png">
  <h2 id="prompt">What is your name?</h2>
  <div class="row">
    <input id="user_name" placeholder = "Your Name Here" [(ngModel)]="username">
    <button id="ok-btn" *ngIf="username" (click)="to_survey()">ok</button>
  </div>
</div>

<div id="survey_container">
  <div id="customer_info">
    <h1>Perf</h1>
    <h4>For {{username || 'Me'}}</h4>
  </div>
  <div id="user_questions" class="slides fade" *ngFor="let question of questions let j = index">
    <h2>{{question}}</h2>
    <div class="option-btn-container">
      <!--<button class="prev" (click)="plusSlides(-1)">&#10094;</button>-->
      <div class="option-btn-row">
        <button class="option-btn" mat-button *ngFor="let one of options[j] let i = index" [value]="i" (click)="register(i)">
          <img src="../assets/img_survey_host/cards/{{j}}/{{i}}.png" (error)="imgerrorhandler($event)">
          <p class="desc">{{one}}</p>
        </button>
      </div>
      <!--<button class="next" (click)="plusSlides(1)">&#10095;</button>-->
    </div>
  </div>

  <!-- slider dots -->
  <div class = "dots" style="text-align:center">
    <span class="dot" (click)="currentSlide(1)"></span>
    <span class="dot" (click)="currentSlide(2)"></span>
    <span class="dot" (click)="currentSlide(3)"></span>
    <span class="dot" (click)="currentSlide(4)"></span>
    <span class="dot" (click)="currentSlide(5)"></span>
    <span class="dot" (click)="currentSlide(6)"></span>
  </div>
</div>
