.card {
  display: flex;
  align-items: center;
  z-index: 0;
  width: 30rem;
  height: 30rem;
  /*width: 500px;*/
  /*height: 500px;*/
  background-image: url('https://www.punmiris.com/himg/o.11219.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /*align-content: center;*/
  text-align: center;
  margin: auto;
}

.backdrop {
  margin: auto;
  padding-top: 1rem;
  z-index: 1;
  width: 29rem;
  height: 28rem;
  background-color: rgba(0, 0, 0, 0.8);
  /*background-color: black;*/
  /*opacity: 0.8 ;*/
}

.video_container {
  z-index: 5;
  width: 420px;
  height: 236px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2, p {
  z-index: 2;
  color: white;
}

hr {
  width: 80%;
}
