* {
  box-sizing: border-box;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  height: available;
  margin-top: 4rem;
  justify-content: center;
}

:host {
  min-height: 100vh;
}

.letter_section {
  height: inherit;
  border: 1px solid red;
  width: 40%;
  text-align: center;
  /*margin-left: 3rem;*/
  margin: auto;
  font-family: 'Indie Flower', cursive;
}

/*app-result-page {*/
  /*height: 1000px;*/
/*}*/

.card_section {
  width: 50%;
  justify-content: center;
  margin: auto;
}

#buy-btn {
  height: 3rem;
  width: 18rem;
  background-color: floralwhite;
  border: 2px solid slategrey;
  margin-top: 1.5rem;
  outline: none;
  font-size: large;
  font-weight: bold;
}

#buy-btn:hover {
  background-color: navajowhite;
  border: none;
}
