/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

html, body, h1, h2, h4, p {
  /*background-color: white;*/
  min-height: 1.5rem;
  /*font-family: monaco,Consolas,"Lucida Console",monospace*/
  /*font-family: "Arial Black","Arial Bold",Gadget,sans-serif;*/
  font-family: "Montserrat",sans-serif;
  font-weight: lighter;
  margin: 0;
}

#content {
  -webkit-transform: translate3d(0,0,0);
}
